
      html{
        scroll-behavior: smooth;
        overflow-x: hidden;

      }
        body{
            background-color: rgba(5, 5, 5, 0.874);
            color: black;
        }
        .navbar{
          overflow: hidden;
          background-color: black;

        }
        .navbar-brand{
          font-size: 2em;
          font-weight: 500;
          background: -webkit-linear-gradient(180deg,#bcd3e7, rgb(239, 106, 106),rgb(240, 87, 217), rgb(126, 126, 233),#bcd3e7);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .div{
            /* display: flex; */
            justify-content: center;
            padding-top: 18em;
            align-items: center;
            width: 100vw;
            align-self: center;
            background-color: rgba(5, 5, 5, 0.874);

        }
        #showcard{
          display: none;
          background-color: none;
        }
        #showcard a:hover{
          text-decoration: none;
        }
        .showbtn{
          display: flex;
          background-color: rgba(5, 5, 5, 0.874);
          padding-top: 1em;
          justify-content: center;
          align-items: center;
        }
       
        /* #desc{
          font-size: 1.1em;
          background: -webkit-linear-gradient(130deg, rgb(243, 3, 3), rgb(4, 4, 219));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 600;
        } */
        .navbar-toggler>.close {
    display:inline;
    color: #ddd;
}
.modal-content{
  background-color: #d4e2ef;
}
input[type=text],input[type=datetime],input[type=number],#tarea{
  background-color: transparent;
  border-top:none  ;
  border-left:none  ;
  border-right:none  ;
  border-bottom: 2px solid darkblue;
  outline: none;
  border-radius: 0px;

}
input[type=text]:focus,input[type=datetime]:focus,input[type=number]:focus{
  background-color: transparent;
}
label{
  color: darkblue;
  font-weight: 500;
}


.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

/* table css */
table{
  display: flex;
  justify-content: center;
  background-color: none;
}
thead{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5em;
  border: none;
  margin: 5em;
  background-color: none;

}
tr{
  background-color: cadetblue;
  /* padding: 1em; */
  display: grid;
  grid-template-columns: auto;
  column-gap: 2em;
  font-size: 1em;
  color: black;
  font-weight: 700;
  padding: 1rem 0.5rem 0.5rem 1rem;
/* background-color: transparentize( white, 0.15 ); */

box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
        0 2px 2px rgba(0,0,0,0.11), 
        0 4px 4px rgba(0,0,0,0.11), 
        0 8px 8px rgba(0,0,0,0.11), 
        0 16px 16px rgba(0,0,0,0.11), 
        0 32px 32px rgba(0,0,0,0.11);
       width: 500px;
       height: 370px;
       word-wrap:break-word;
       line-break: auto;
       text-align: left;
      max-height: fit-content ;
      border: 5px rgba(0, 0, 0, 0.226) solid;
      /* background-color: rgba(149, 223, 234, 0.815); */



}
tr:nth-child(1){
  display: none;
}
td:nth-child(1){
text-align: center;
  margin: 0;
  padding: 1em 3em;
  background-color: azure;
  font-size: 2em;
  height: fit-content;
}
td:nth-child(1)::before{
  content: "Dish Name: ";

}
td:nth-child(2)::before{
  content: "Prepairing time : ";

}td:nth-child(3)::before{
  content: "Serving for ";

}
td:nth-child(2){
max-height: fit-content;
padding-bottom: 4px;
}
td:nth-child(3){
padding-bottom: 4px;

  max-height: fit-content;
}
td:nth-child(4){
  font-size: 1em;
  color: darkblue;
  font-weight: 500;
  overflow-y: auto;
       
       max-height: 150px;
  
}

@media screen and (max-width:700px)  {
 
  .form{
    display: flex;
    gap: 1em;
    justify-content: center;
   
  }
  #searchbar{
    width: 60vw;
  }
  i{
    font-size: 16px;
  }
  .div{
    display: grid;
    grid-template-columns: auto;
  }
  table{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  thead{
    display: grid;
    place-items: center;
  grid-template-columns: auto ;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  row-gap: 1em;
  width: 250px;
  

  }
  tr{
    width: 80vw;
    margin-left: 0;
    /* padding-left: 0; */
  }
td:nth-child(1){
  font-size: 1.2em;
}
}




