
      html{
        scroll-behavior: smooth;

      }
        body{
            background-color: rgba(5, 5, 5, 0.874);
            color: black;
        }
        .navbar{
          overflow: hidden;
          background-color: black;

        }
        .navbar-brand{
          font-size: 2em;
          font-weight: 500;
          background: -webkit-linear-gradient(180deg,#bcd3e7, rgb(239, 106, 106),rgb(240, 87, 217), rgb(126, 126, 233),#bcd3e7);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .div{
            display: flex;
            justify-content: center;
            padding-top: 18em;
            align-items: center;
            align-self: center;
        }
        #showcard{
          display: none;
        }
        #showcard a:hover{
          text-decoration: none;
        }
        .showbtn{
          display: flex;
          padding-top: 1em;
          justify-content: center;
          align-items: center;
        }
        .scrollable{
          overflow-y: auto;
             
             max-height: 150px;
        }
        .card{
            margin: 2em auto;
            box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
             width: 500px;
             height: 370px;
             word-wrap:break-word;
             line-break: auto;
             text-align: left;
            max-height: fit-content ;
            border: 5px rgba(0, 0, 0, 0.226) solid;
            background-color: rgba(149, 223, 234, 0.815);
            /* padding: 10px; */
            display: none;
        }
        .card-header{
          margin: 0;
          text-align: center;
          color: floralwhite;
          
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
        }
        .card-body{
          padding: 10px;
        }
        #desc{
          font-size: 1.1em;
          background: -webkit-linear-gradient(130deg, rgb(243, 3, 3), rgb(4, 4, 219));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 600;
        }
        .navbar-toggler>.close {
    display:inline;
    color: #ddd;
}
.modal-content{
  background-color: #d4e2ef;
}
input[type=text],input[type=datetime],input[type=number],#tarea{
  background-color: transparent;
  border-top:none  ;
  border-left:none  ;
  border-right:none  ;
  border-bottom: 2px solid darkblue;
  outline: none;
  border-radius: 0px;

}
input[type=text]:focus,input[type=datetime]:focus,input[type=number]:focus{
  background-color: transparent;
}
label{
  color: darkblue;
  font-weight: 500;
}


.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}
@media screen and (max-width:700px) {
  .form{
    display: flex;
    gap: 1em;
    justify-content: center;
   
  }
  #searchbar{
    width: 60vw;
  }
  
}
